body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#typed-output {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
}
